<!DOCTYPE html>
<html>
<head>
  <title>Heroku JP Meetup</title>

  <link href="/fonts/fonts.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/heroku.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/assets/application.js" type="text/javascript"></script>
  <script src="/assets/modernizr.js" type="text/javascript"></script>
  
  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="/assets/selectivizr-b5989b39301f69bf0d02af6510540cb9.js" type="text/javascript"></script>
  <![endif]-->
</head>

<body>
  <section id="summary">
  <div class="wrapper">
    <h1>Heroku Meetup #5</h1>
  
    <hgroup>
      <h2>Heroku Meetup #5</h2>
      <h3>
        2012年6月27日(木)<br/>
        19:00 - 22:00 @ <a href='http://mixi.co.jp/profile/info/'>mixi, Inc.</a>
      </h3>
    </hgroup>
  
    <p>
        <a href="<%= ENV['DOORKEEPER']%>" class="button">6月18日受付開始</a>
      
        <small>
          株式会社ミクシィ 東京都渋谷区東1-2-20 住友不動産渋谷ファーストタワー7F
        </small>
    </p>    
  </div>
</section>

<section id="description">
  <h4>Herokuのユーザ同士で情報交換のできるMeetupイベントです</h4>
  <div class="wrapper">
    <article>
    
      <p>
        ミートアップの説明文
      </p>
    
      <p>
        ミートアップの説明文
      </p>
    
      <p class="topic">
        備考
      </p>
    </article>
  </div>
</section>

<section id="speakers">
  <div class="wrapper">
    <ul>
      <li>
        <h4>和波 俊久</h4>
        <h5></h5>

        <h6 class="topic">Lean Startup Japan 代表</h6>
          
        <p>
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええ
        </p>
      </li>
      <li>
        <h4>仲 暁子</h4>
        <h5></h5>

        <h6 class="topic">株式会社ウォンテッド CEO</h6>
          
        <p>
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええ
        </p>
      </li>
      <li>
        <h4>高橋理志, 林寛之</h4>
        <h5></h5>

        <h6 class="topic">エンターテイメント・キック株式会社</h6>
          
        <p>
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええ
        </p>
      </li>
      <li>
        <h4>相澤 歩</h4>
        <h5></h5>

        <h6 class="topic">Developer Marketing Advocate<br/>Heroku, Inc.</h6>
          
        <p>
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええおおおおおおおおおお
          スピーカー紹介文ああいいいいいいいいいいううううううううううええええええええええ
        </p>
      </li>
    </ul>
  </div>
</section>
</body>
</html>

