<!DOCTYPE html>
<html>
<head>
  <title>Heroku JP Meetup</title>

  <link href="/fonts/fonts.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/heroku.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/assets/application.js" type="text/javascript"></script>
  <script src="/assets/modernizr.js" type="text/javascript"></script>
  
  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="/assets/selectivizr-b5989b39301f69bf0d02af6510540cb9.js" type="text/javascript"></script>
  <![endif]-->
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32578927-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  <section id="summary">
  <div class="wrapper">
    <h1>Heroku Meetup #5</h1>
  
    <hgroup>
      <h2>Heroku Meetup #5</h2>
      <h3>
        2012年6月28日(木)<br/>
        19:00 〜 22:00 @ <a href='http://mixi.co.jp/profile/info/'>mixi, Inc.</a>
      </h3>
    </hgroup>
  
    <p>
        <a href="<%= ENV['DOORKEEPER']%>" class="button">SOLD OUT</a>
      
        <small>
          株式会社ミクシィ 東京都渋谷区東1-2-20 住友不動産渋谷ファーストタワー7F
        </small>
    </p>    
  </div>
</section>

<section id="description">
  <h4>Herokuのユーザ同士で情報交換のできるMeetupイベントです</h4>
  <div class="wrapper">
    <article>
    
      <p>
        HerokuはRuby、Java、Python、Node.jsなど複数の開発言語・フレームワークをサポートするクラウドプラットフォームです。
        開発者の生産性を最大限に高める柔軟プラットフォームとして国内外でひろく認知されており、スタートアップ企業からエンタープライズシステムにまで、
        あらゆる規模のビジネスの生産性向上を支援しています。
      </p>
    
      <p>
        今回はリーンスタートアップ ジャパンの和波氏を講師にお迎えし、スタートアップ企業がサービス基盤を選択する上で考慮すべきことを伺います。
        また、Herokuを活用して新しいビジネスやサービスを展開している方々に実践的なノウハウやHerokuの利点、運用のコツを伺います。
      </p>
    
      <p class="topic">
        Heroku Meetupは既にHerokuを利用しているコアユーザーだけでなく、これから利用を検討している方・情報収集をしている方
        同士の情報交換・交流を目的としたイベントです。
      </p>
    </article>
  </div>
</section>

<section id="speakers">
  <div class="wrapper">
    <ul>
      <li>
        <h4>和波 俊久</h4>
        <h5></h5>

        <h6 class="topic">Lean Startup Japan 代表</h6>
          
        <p>
          "Lean Startup Japan"ブログ主宰者。IT企業でITサービスマネジメント及びプロジェクトマネジメントのコンサルタントを務める傍ら、
          数々のITプロジェクトの失敗やデスマーチを経験。プロジェクト失敗の原因を追求する過程で「ユーザが誰も使いたがらないシステムを、
          ウォーターフォール型で開発することが原因」であることを「アントレプレナーの教科書（書籍）」との出会いにより開眼。
          この考えを汲むリーンスタートアップを広く普及するために、2010年10月より"Lean Startup Japan"ブログを開設し、Meetupの開催やセミナーを提供している。 
        </p>
      </li>
      <li>
        <h4>仲 暁子</h4>
        <h5></h5>

        <h6 class="topic">株式会社ウォンテッド<br/>代表取締役CEO</h6>
          
        <p>
          1984年千葉出身。子供時代米国で過ごし、高校時代はニュージーランドに留学。京都大学経済学部卒業後ゴールドマン・サックス証券株式会社に入社。<br/>
          退社後、Facebook Japan株式会社の初期メンバーとして参画。ソーシャルメディアの力に感銘を受け、その力の教授者を増やし、世の中に「シゴトでココロオドル」を広めるべく、
          ソーシャルリクルーティングサービス・Wantedlyを開発・運営。
        </p>
      </li>
      <li>
        <h4>林 寛之</h4>
        <h5></h5>

        <h6 class="topic">エンターテイメント・キック株式会社<br/>取締役CTO</h6>
          
        <p>
          計算工学を修了後、外資にて英語とプログラミングを学習中にFindJPNの社長高橋に出会い創業の道を選択。OpenNetworkLabの3期生として、
          リーンスタートアップやアジャイル開発に興味を持ち実践中。好きな言語はRuby。 
       </p>
      </li>
      <li>
        <h4>西村 賢</h4>
        <h5></h5>

        <h6 class="topic">アイティメディア株式会社<br/>@IT編集部 副プロデューサー</h6>

        <p>
          編集・記者としての仕事のほか、Webサービス企画を担当。新QAサービス「QA@IT」を5月末に立ち上げ、メディアとサービスの中間領域のビジネスを模索中。
          Asakusa.rb所属
        </p>
      </li>
      <li>
        <h4>相澤 歩</h4>
        <h5></h5>

        <h6 class="topic">Heroku, Inc.<br/>Developer Marketing Advocate</h6>
          
        <p>
          国内SIerを経て2005年にアクセンチュア・テクノロジー・ソリューションズ株式会社(現アクセンチュア株式会社)に入社、
          アクセンチュアのクラウド推進部隊であるアクセンチュア・クラウドアプリケーション・ファクトリーの立ち上げに参画し、
          以後ソリューション・アーキテクトとして同社の開発案件を牽引してきた。また、プログラミング言語Rubyのコミッターとして、
          国内外のデベロッパーコミュニティの活動に参加している。
          2012年よりセールスフォース・ドットコム社に入社し、同社のカスタマーアプリケーション開発プラットフォーム"Heroku"
          のエバンジェリストとして、次世代のクラウドプラットフォームの普及活動をおこなっている。
        </p>
      </li>
      <li>
        <h4>Lightning Talks<br/></h4>
        <h5></h5>
        <h6 class="topic">Herokuで作った英会話サービスBest Teacherの紹介とSSLの話 - 後藤正樹、瀬戸山雅人</h6>
        <p>
          HerokuでBestTeacherという月額課金サービスを作りました。有料サービスを作る際に必要なSSLをherokuで使うために必要なことをまとめます。
        </p>

        <h5></h5>
        <h6 class="topic">heroku devcenter 翻訳プロジェクトへのお誘い - @ppworks</h6>
        <p>
          heroku devcenter 翻訳プロジェクトが発足しました。今回は今までの活動内容の紹介をします。
        </p>

        <h5></h5>
        <h6 class="topic">PhantomJS on Heroku でスクリーンショットサーバ - stomita</h6>   
        <p>
          heroku-buildpack-phantomjs を使ってheroku上でスクリーンショットサーバを動かしてます。
        </p>

      </li>
    </ul>
  </div>
</section>
</body>
</html>

