<!DOCTYPE html>
<html>
<head>
  <title>Heroku JP Meetup</title>

  <link href="/fonts/fonts.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/heroku.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/assets/application.js" type="text/javascript"></script>
  <script src="/assets/modernizr.js" type="text/javascript"></script>
  
  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="/assets/selectivizr-b5989b39301f69bf0d02af6510540cb9.js" type="text/javascript"></script>
  <![endif]-->
</head>

<body>
  <section id="summary">
  <div class="wrapper">
    <h1>Heroku Meetup #5</h1>
  
    <hgroup>
      <h2>Heroku Meetup #5</h2>
      <h3>
        28 June 2012 - 7pm to 10pm<br/>
        <a href='http://mixi.co.jp/profile/info/'>at mixi, Inc.</a>
      </h3>
    </hgroup>
  
    <p>
        <a href="#" class="button">6月18日受付開始</a>
      
        <small>
          株式会社ミクシィ 東京都渋谷区東1-2-20 住友不動産渋谷ファーストタワー7F
        </small>
    </p>    
  </div>
</section>

<section id="description">
  <div class="wrapper">
    <article>
      <h4>Herokuからの最新情報のユーザ同士で情報交換のできるMeetupイベントです</h4>
    
      <p>
        RubyのPaaSとしてスタートしたHerokuですが、現在JavaやNode.js、Python、Scala、Clojureといった言語や、BuildPackによってユーザが自由にビルド環境を追加できるようになったので、
        「Rubyは書けないけどJavaなら」という方や、「まだHerokuを使ったことはないけど興味はある」という方の参加も大歓迎です。
      </p>
    
      <p>
        今回は『スタートアップ特集』と題して、Herokuを利用したサービスを運営しているスタートアップ企業の方々からお話を伺います。
      </p>
    
      <p class="topic">
        ああああ
      </p>
    </article>
  </div>
</section>

<section id="speakers">
  <div class="wrapper">
    <ul>
      <li>
        <h4>和波 俊久</h4>
        <h5>Lean Startup Japan 代表</h5>

        <h6 class="topic">あああああ</h6>
          
        <p>
          ああああ
        </p>
      </li>
      <li>
        <h4>仲 暁子</h4>
        <h5>株式会社ウォンテッド CEO</h5>

        <h6 class="topic">あああ</h6>
          
        <p>
          あああ
        </p>
      </li>
      <li>
        <h4>高橋理志, 林寛之</h4>
        <h5>エンターテイメント・キック株式会社</h5>

        <h6 class="topic">あああ</h6>
          
        <p>
          あああ
        </p>
      </li>
      <li>
        <h4>相澤 歩</h4>
        <h5>Heroku, Inc. Developer Marketing Advocate</h5>

        <h6 class="topic">あああ</h6>
          
        <p>
          あああ
        </p>
      </li>
    </ul>
  </div>
</section>
</body>
</html>

